/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    font-style: normal;

}

/* .container {
    height: 100vh;;
    display: grid;
    place-items: center;
color:#ffff;
} */


/* .reg-form {

    background-color: #ffacdb;
    padding: 2rem;
    border-radius: 2rem;
} */

/* .btn {
    background-color: #df398a7a;
} */